

body{
    display: flex; 
    justify-content: center !important; 
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-image: url(https://i.pinimg.com/736x/65/d0/65/65d065d6c8ed92814a977e56d682f0b5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

.box{
margin-top: 7em;
color: white;
    width: 450px; 
    height: 350px; 
    background-color: black; 
    padding-top: 1em; 
    border-radius: 20px;
   
}